@import "includes/bootstrap";
@highlight: #fff;
@background: #FFF;
@links: #fff;
html,
body {
    font-family: 'Nunito', sans-serif !important;
    font-weight: normal;
    color: #fff;
}

.container {
    width: 100%;
    margin: 0;
    padding: 0;
    a {
        color: @links;
        &:hover {
            text-decoration: none;
            color: #fff;
        }
    }
}

.hnContainer {
    background-image: url('../images/handMockUp.jpg');
    background-size: cover;
    margin: 0 auto;
    width: 100%;
    padding: 30px;
    position: relative;
    overflow: hidden;
    background-attachment: fixed !important;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover !important;
    background-color: #333;

    @media (max-width: 350px) {
        background-attachment: scroll !important;
    }

    .bgOverlay {
        background: #333;
        opacity: 0.5;
        bottom: 0;
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
        z-index: 2;
    }
    .navbar-header {
        float: inherit;
    }
    .navbar-brand {
        padding: 2px;
        text-decoration: none;
        font-size: 18px;
        margin: 15px;
        img {
            display: inline-block;
        }
        &:hover {
            text-decoration: none;
            color: #fff;
        }
    }
    .navbar-link {
        margin: 15px;
        float: right;
        line-height: 50px;
        height: 50px;
        @media (max-width: 400px) {
            width: 100%;
            text-align: center;
        }
        &:hover {
            text-decoration: none;
            //border: 1px solid #fff;
            color: #fff;
        }
    }
    @media (max-width: 450px) {
        .navbar-link {
            width: 100%;
            margin: 0 auto;
            text-align: center;
            padding-left: 25px;
            width: 100%;
            text-align: center;
            display: none;
        }
    }
    @media (max-width: 350px) {
        .navbar {
            margin-left: -10px;
            margin-right: -10px;
            margin-bottom: 0;
        }
        .navbar-header {
            width: 100%;
        }
        .navbar-brand {
            width: 100%;
            text-align: center;
        }
        .navbar-link {
            width: 100%;
            margin: 0 auto;
            text-align: center;
            padding-left: 25px;
            width: 100%;
            text-align: center;
            display: none;
        }
    }
    .inner-container {
        position: relative;
        z-index: 10;
        width: 85%;
        margin: 0 auto;
        @media (max-width: 320px) {
            .col-sm-6 {
                padding-left: 0px;
            }
        }
        .hnDesc {
            h1 {
                color: @highlight;
                text-align: center;
                margin: 5px 0;
            }
            a {
                color: @links;
                &:hover {
                    text-decoration: none;
                    color: #fff;
                }
            }
            .description {
                margin: 0 auto;
                //padding: 10% 0;
                height: 544px;
                text-align: center;
                display: table-cell;
                vertical-align: middle;
                .labelDesc {
                    padding: 5px;
                    font-size: 18px;
                }
                .appStoreIcon {
                    width: 250px;
                }
            }
            @media (max-width: 760px) {
                .description {
                    height: inherit;
                    padding: 10px 0 30px 0;
                }
            }
        }
        .hnImg {
            .sliderImg {
                margin: 0 auto;
                img {
                    width: 270px; //width: 40%;
                    height: 544px; //height: 20%;
                    display: block;
                    margin-left: auto;
                    margin-right: auto;
                    transition: all 0.5s ease;
                }
                @media (max-width: 350px) {
                    img {
                        margin: 0 0 0 -10px;
                    }
                }
            }
        }
    }
}

.openSourceContainer {
    background: #F0652F;
    //text-align: center;
    padding: 25px;
    li {
        font-size: 18px;
    }
    .opHeadLine {
        color: #fff;
        text-align: center;
    }
    .opnImagBlock {
        @media (max-width: 768px) {
            width: 100%;
        }
        img {
            display: block;
            width: 90%;
            text-align: center;
            margin: 0 auto;
        }
    }
    .opnOtherBlock {
        @media (max-width: 768px) {
            width: 100%;
        }
        .opLinks {
            padding-top: 20px;
        }
        .appFeatures {
            padding: 30px 10px;
        }
        .btn-svg {
            display: inline-block;
            position: relative;
            margin: 5px auto;
            padding: 10px 15px;
            border: 2px solid #fff;
            color: #fff;
            text-align: center;
            border-radius: 10px;
            width: 100%;
        }
        .svgIcon {
            line-height: 40px;
            vertical-align: middle;
            display: inline-block;
            height: 40px;
        }
        .linkText {
            line-height: 40px;
            vertical-align: middle;
            text-align: center;
            padding-left: 10px;
            font-size: 18px;
            text-decoration: none;

            @media (max-width: 400px) {
                font-size: 16px;
            }
        }
        svg {
            width: 40px;
            height: 40px;
            fill: #fff;
        }
    }
}

.support {
    width: 100%;
    height: 550px;
    iframe {
        width: 100%;
        height: 100%;
    }
}

.footerBlock {
    padding: 10px;
    margin: 0 auto;
    width: 100%;
    background: #333;

    //text-align: right;
    
    .twitterLink {
        //text-align: left;
        line-height: 0px;
        vertical-align: middle;
        display: inline-block;
        width: 32%;

        svg {
          display: inline-block;
          height: 30px;

          //margin: 0px auto;
        }
    }
    
    .navbar-link {
        width: 32%;
        text-align: center;
        display: inline-block;
        padding-right: 20px;
    }

    .bottomBrand {
        width: 32%;
        display: inline-block;
        text-align: right;
    }
}
